* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

body .wrapper {
  max-width: 700px;
  margin: auto;
}

body .wrapper .section {
  padding: 20px 0;
  width: 276px;
}

body .wrapper .section h2 {
  margin-bottom: 13px;
  margin-left: 10px;
}

body .wrapper .section .errorText {
  color: #FF4003;
  font-size: 12px;
  display: block;
  margin: 2px 1px 5px;
  visibility: hidden;
  /*------------- INPUT STYLES ---------------*/
}

body .wrapper .section .form .input {
  width: 100%;
  height: 30px;
  padding: 6px 10px;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
  line-height: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

body .wrapper .section .form .input::-webkit-input-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
}

body .wrapper .section .form .input:-ms-input-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
}

body .wrapper .section .form .input:-moz-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
}

body .wrapper .section .form .input::-moz-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
}

body .wrapper .section .form .input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

body .wrapper .section .form .input:focus {
  outline-color: #00447C;
}

body .wrapper .section .form .input::-webkit-outer-spin-button, body .wrapper .section .form .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body .wrapper .section .form .input[type=number] {
  -moz-appearance: textfield;
}

body .wrapper .section .form .input.error {
  border-color: #FF4003;
}

body .wrapper .section .label {
  position: relative;
  top: 7px;
  left: 8px;
  width: auto;
  background-color: #fff;
  font-size: 12px;
  padding-right: 4px;
  color: #00447C;
}

body .wrapper .section .selectBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 32px;
}

body .wrapper .section .selectBox .selected {
  height: 30px;
  padding: 6px 10px;
  margin-bottom: 8px;
  width: 100%;
  color: #828282;
  border: 1px solid #E1E1E1;
  border-radius: 3px;
  position: relative;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

body .wrapper .section .selectBox .selected .label {
  top: -18px;
  left: -2px;
  z-index: 25;
}

body .wrapper .section .selectBox .selected .name {
  position: absolute;
  z-index: 1;
}

body .wrapper .section .selectBox .selected::after {
  content: "";
  background: url("../public/images/arrow-down.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 7px;
  width: 13px;
  right: 15px;
  top: 11px;
  -webkit-transition: all .8s;
  transition: all .8s;
}

body .wrapper .section .selectBox .selected.error {
  border-color: #FF4003;
}

body .wrapper .section .selectBox .optionsContainer {
  display: none;
  width: 100%;
  background-color: #fff;
  padding-bottom: 12px;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.04);
  border: 1px solid #D6E2F5;
  border-radius: 3px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 1;
}

body .wrapper .section .selectBox .optionsContainer .option {
  padding: 0 8px;
  position: relative;
}

body .wrapper .section .selectBox .optionsContainer .option .profilePicture {
  height: 30px;
  width: 30px;
  margin: 5px 13px 5px 7px;
  border-radius: 50%;
}

body .wrapper .section .selectBox .optionsContainer .option .radio {
  display: none;
}

body .wrapper .section .selectBox .optionsContainer .option label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

body .wrapper .section .selectBox .optionsContainer .option:hover {
  background: #F4F7FB;
}

body .wrapper .section .selectBox .optionsContainer .option.chosen {
  font-weight: 600;
  color: #00447C;
}

body .wrapper .section .selectBox .optionsContainer .option.chosen::after {
  content: "";
  background: url("../public/images/check.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 10px;
  width: 14px;
  right: 15px;
  top: 11px;
}

body .wrapper .section .selectBox .optionsContainer.active {
  display: block;
}

body .wrapper .section .selectBox .optionsContainer.active + .selected {
  border-color: #00447C;
  -webkit-box-shadow: 0px 0px 0px .5px #00315a;
          box-shadow: 0px 0px 0px .5px #00315a;
}

body .wrapper .section .selectBox .optionsContainer.active + .selected::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

body .wrapper .section .selectBox .searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 8px;
  width: 100%;
  border-bottom: 1px solid #D6E2F5;
}

body .wrapper .section .selectBox .searchBox input {
  width: 100%;
  padding: 6px 12px;
  background: #F2F4F8;
  border: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  font-family: 'Source Sans Pro', sans-serif;
}

body .wrapper .section .selectBox .searchBox input:focus {
  outline: none;
}

body .wrapper .section .selectBox .searchBox input::-webkit-input-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
}

body .wrapper .section .selectBox .searchBox input:-ms-input-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
}

body .wrapper .section .selectBox .searchBox input:-moz-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
}

body .wrapper .section .selectBox .searchBox input::-moz-placeholder {
  font-family: 'Source Sans Pro', sans-serif;
}

body .wrapper .section .selectBox .searchBox .searchIcon {
  height: 29px;
  width: 29px;
  padding: 8px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #F2F4F8;
}

body .wrapper .section .selectBox .option, body .wrapper .section .selectBox .selected {
  cursor: pointer;
}

body .wrapper .section .sectionDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

body .wrapper .section .sectionDesc h3 {
  margin-left: 10px;
  font-weight: 400;
  color: #4A4A4A;
}

body .wrapper .section .sectionDesc .adButton {
  width: 92px;
  background: #00447C;
  color: white;
  border-radius: 3px;
  font-weight: 600;
  line-height: 18px;
  padding: 6px 24px;
  border: none;
  outline: 0;
  cursor: pointer;
}

body .wrapper .section .sectionDesc .adButton:hover {
  background: #015090;
}

body .wrapper .section .sectionDesc .adButton:active {
  background: #00315a;
}

body .wrapper .section:nth-child(1) {
  border-bottom: 1px solid #A2A2A2;
}

body .wrapper .section:nth-child(2) {
  padding-bottom: 20px;
  /*------------- TABLE STYLES ---------------*/
}

body .wrapper .table {
  width: 700px;
  border-collapse: collapse;
  border-radius: 3px;
  border-style: hidden;
  -webkit-box-shadow: 0 0 0 1px #D6E2F5;
          box-shadow: 0 0 0 1px #D6E2F5;
  color: #4F4F4F;
}

body .wrapper .table .tableHead .tableRow {
  text-align: left;
  height: 60px;
}

body .wrapper .table .tableHead .sortUp,
body .wrapper .table .tableHead .sortDown {
  height: 4px;
  width: 8px;
  margin-left: 11px;
  position: absolute;
  cursor: pointer;
}

body .wrapper .table .tableHead .sortDown {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

body .wrapper .table .tableBody .tableRow {
  height: 50px;
  border: 1px solid #D6E2F5;
}

body .wrapper .table .tableCell {
  padding: 0px 19px;
  position: relative;
}

body .wrapper .table .delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: none;
  outline: 0;
  cursor: pointer;
}

body .wrapper .table .delete .trashImg {
  width: 13px;
  height: 15px;
  margin-right: 12px;
}

body .wrapper .sum {
  margin-top: 25px;
  margin-left: 19px;
  font-size: 18px;
  color: #4F4F4F;
}

body .wrapper .sum span {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */